.main {
   
   
  
  
}

.questionGroup {
    
    
   

}


.startGroup {
  

}

.startNum {

}

.btn {
    background-color: #426ad6;
    margin-top: 25px;
    color: white;
    padding: 10px 20px 10px 20px;
    border: 0;

}

